requests==2.26.0
Flask==2.1.2
rsa==4.7.2
# Flask==2.1.2
# future==0.16.0
# idna==3.3
# itsdangerous==2.1.2
# Jinja2==3.1.2
# jmespath==0.10.0
# MarkupSafe==2.1.1
# pathspec==0.9.0
pyasn1==0.4.8
pycryptodome==3.15.0
# pypiwin32==223
# python-dateutil==2.8.2
# pywin32==304
# PyYAML==5.4.1
# requests==2.26.0

